/* header{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fff;
    height: 80px;
    padding: 0px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 40px;
}
/*
.container{
    background-color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
}

nav{
    float:right;
    margin: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
*/
/* nav li{ */
/*    display: inline-block;
    margin-left: 30px; */
    /* line-height:60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} */
/* 

p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 2;
    margin-top: 0;
    color:#777777;
   
}

h1{
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    height: 80px;
    width: 225px;
    line-height:80px;
    float: left;
    font-size: 30px;
}

h2{
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #4aaaa5;
    line-height: 30px;
    font-size: 30px;
}

h3{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 2;
    margin-top: 0;
    color: white;
    font-size: 15px;
} */
/*
 section in index.html 
#about-me{
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    color:#777777;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    margin-top: 0px;
    font-size: 20px;
}

 section in portfolio.html 
#portfolio{
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    color: #777777;
    width: 920px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

 section in contact.html 
#contact{
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    color: #777777;
    width: 920px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
*/
/* for the image 1 in portfolio.html */
#pic-cont1{
    margin: 10px 0 0 0;
    width: 300px;
    height: 225px;
    float: left;
    background: url(../images/giphy_s.gif);
    background-size: cover;
    position: relative;
}

/* for the image 2 in portfolio.html */
#pic-cont2{
    margin: 10px 0 0 30px;
    width: 300px;
    height: 225px;
    float: left;
    background: url(../images/train-tracks.PNG);
    background-size: cover;
    position: relative;
}

/* for the image 3 in portfolio.html */
#pic-cont3{
    margin: 30px 0 0 0;
    width: 300px;
    height: 225px;
    float: left;
    background: url(../images/retirement.PNG);
    background-size: cover;
    position: relative;
}

/* for the image 4 in portfolio.html */
#pic-cont4{
    margin: 30px 0 0 30px;
    width: 300px;
    height: 225px;
    float: left;
    background: url(../images/rock-n-roll-monkey-681546-unsplash.jpg);
    background-size: cover;
    position: relative;
}

/* for the image 5 in portfolio.html */
#pic-cont5{
    margin: 30px 0 30px 0;
    width: 300px;
    height: 225px;
    float: left;
    background: url(../images/bamazon.PNG);
    background-size: cover;
    position: relative;
}

/* for all the image titles in portfolio.html */
.titles{
    position: absolute;
    bottom: 10px;
    margin: 0;
    padding-top: 5px;
    font: 18px Sans-Serif;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    background-color: #4aaaa5;
    color: white;
}

/* narrow container to limit two images per row in portfolio.html 
#narrow{
    width: 440px;
}

/* don't change the color or underline visited links  */
/* a, a:visited {
    color: #777777;
    text-decoration:none;
}

#link-work, #link-work:visited {
    color:white;
    text-decoration:none;
}


#repo-link {
    color: grey;
    text-decoration:none;
    font-size: 12px;
} */

/* only img is in index.html 
img{
    border-radius: 8px;
    max-width: 100%;
    height: 180px;
    float: left;
    margin: 0px 20px 10px 0px;
}
*/
/* footer is stuck to the bottom of page
footer{
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin-left: auto;
    margin-right: auto; 
    background-color: #666;
    color: white;
    font-size: 12px;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* horizontal line, divider */
/* hr{
    border: 2px solid #ccc;
} */

/*
#contact-form{
    margin-top: 20px;
    width: 100%;
    color: #fff;
    font-size: 12px;
}

input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

textarea{
    width: 100%;
    height: 300px;
}

.pic-container{
    position: relative;
    display: block;
}

.text-block{
    position: absolute;
    background-color: black;
    color: white;
    padding: 2x 0 2px 0;
    height: 40px;
} */

/* submit button in contact.html */
/* #submit-btn{
    color: white;
    background-color: #4aaaa5; */ 
/* } */
/* --- STYLES FOR ALL PAGES --- */
body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    /* Visual */
    background-image: url("../imgs/ignasi_pattern_s.png");
  }
  
  html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }
  
  /* add space for fixed nav */
  main {
    margin: 80px 0;
  }
  
  /* create styles for use for all white main boxes */
  .block {
    background-color: #fff;
  
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    /* Typography */
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
  
  /* NAV START */
  #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  
    /* Visual */
    background: #4aaaa5;
  }
  
  /* override bootstrap hover color and border */
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
  }
  
  .navbar {
    background: white;
    border: none;
  }
  
  /* media query for nav background color change */
  @media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: #4aaaa5;
    }
  }
  /* END NAV */
  
  
  /* CONNECT W/ ME CSS */
  .connect-header {
    /* Typography */
    font-size: 25px;
  }
  
  .connect-photo {
    /* Box-model */
    width: 55px;
    height: 55px;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }
  /* END CONNECT W/ ME */
  
  
  /* BEGIN FOOTER */
  .footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 60px;
  
    /* Visual */
    background-color: #666;
  }
  
  .text-muted-footer {
    /* Box-model */
    margin-top: 15px;
  
    /* Typography */
    color: #fff;
  }
  
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: #4aaaa5;
  }
  /* END FOOTER */
  /* --- END STYLES FOR ALL PAGES --- */
  
  /* --- PAGE-SPECIFIC STYLES --- */
  /* ABOUT-ME PAGE */
  .about-me-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  #about-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    margin: 0 20px 10px 0;
  }
  /* END ABOUT-ME PAGE */
  
  
  /* PORTFOLIO PAGE */
  .port-image {
    margin: 20px auto;
  }
  /* END PORTFOLIO PAGE */
  
  
  /* CONTACT FORM PAGE  */
  .form-control {
    /* give input boxes right angles */
    border-radius: 0;
  
    /* keep from horizontally resizing text area */
    min-width: 100%;
    max-width: 100%;
  }
  
  .submit-btn {
    /* Box-model */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
  
    /* Typography */
    color: #fff;
  
    /* Visual */
    background-color: #4aaaa5;
    border: 0;
  }
  
  .submit-btn:hover {
    opacity: .7;
  }
  
  /* END CONTACT FORM PAGE */
  